/* html { 
  background: url(../../dist/images/starsbackdrop.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
body {
  display: flex;
}
/* 
.img-box {
  background-size: cover;
  position: absolute; 
  top: 0; 
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

iframe {
  height: 100%;
  width: 100%;
} */

.head-banner {
  position: absolute; 
  top: 0; 
  left: 0; 
  background-color: rgb(61, 61, 166); 
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  opacity: 0.5;
}

.search-and-output {
  
}

.search-form {
    position: relative;
    top: 65px;
    left: 25%;
    text-align: center;
    height: 20px;
}
#output {
  position: absolute;
    top: 86px;
    text-align: center;
    font-size: 25px;
}
#part-of-speech-and-def {
  position: absolute;
    top: 116px;
    left: 225px;
    text-align: center;
    width: 50%;
    font-size: 12px;
}

#main-body {
}

#globediv {
    position: relative;
    top: 70px;
    right: 45%;
}