/* html { 
  background: url(../../dist/images/starsbackdrop.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
html {
  background-color: black;
    color: white;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

.img-box {
  background-size: cover;
  position: absolute; 
  top: 0; 
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

iframe {
  height: 100%;
  width: 100%;
}


.head-banner {
  position: absolute; 
  top: 0; 
  left: 0; 
  background-color: rgb(61, 61, 166); 
  width: 100%;
  height: 35px;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  opacity: 0.5;
}

#globediv {
  margin-left: auto;
  margin-right: auto;
  margin-top: 187px;
}



.search-form {
   position: absolute;
    margin-left: 49.3%;
    margin-right: -50%;
    top: 75px;
    transform: translate(-50%, -50%);
}
#output {
  position: absolute;
    margin-left: 49.3%;
    margin-right: -50%;
    top: 98px;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    font-size: 30px;
}
#definition {
  position: absolute;
    margin-left: 49.3%;
    margin-right: -50%;
    top: 153px;
    transform: translate(-50%, -50%);
    font-size: 12px;
    width: 62%;
    text-align: center;
}
#part-of-speech {
  position: absolute;
    margin-left: 64.3%;
    margin-right: -70%;
    top: 108px;
    transform: translate(-50%, -50%);
    font-size: 15px;
    width: 30%;
    text-align: center;
    font-style: italic;
}
#pronunciation {
  position: absolute;
    margin-left: 32.4%;
    margin-right: -70%;
    top: 108px;
    transform: translate(-50%, -50%);
    font-size: 15px;
    width: 30%;
    text-align: center;
}
#etymologies {
  position: absolute;
    margin-left: 49.3%;
    margin-right: -70%;
    top: 208px;
    transform: translate(-50%, -50%);
    font-size: 1px;
    width: 30%;
    text-align: center;
    z-index: -3;
}
#country-list {
 position: absolute;
    margin-left: 83.5%;
    margin-right: -70%;
    top: 398px;
    transform: translate(-50%, -50%);
    font-size: 15px;
    width: 10%;
    text-align: center;
    z-index: 2;
}
#countries {
  position: absolute;
    margin-left: 49.3%;
    margin-right: -70%;
    top: 208px;
    transform: translate(-50%, -50%);
    font-size: 1px;
    width: 30%;
    text-align: center;
    z-index: -3;
}


#searchBar {
  width: 210px;
}

button {
  border-radius: 10px;
    color: black;
    border: none;
}

#etymologenius {
    z-index: 3;
    position: absolute;
    margin-left: 49.3%;
    margin-right: -50%;
    top: 28px;
    font-size: 30px;
    transform: translate(-50%, -50%);
}

#placeholder-text {
  position: absolute;
    margin-left: 49.3%;
    margin-right: -50%;
    top: 121px;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    font-size: 20px;
    width: 40%;
    text-align: center;
}

#other-info {
 position: absolute;
    margin-left: 17.5%;
    margin-right: -70%;
    top: 398px;
    transform: translate(-50%, -50%);
    font-size: 15px;
    width: 10%;
    text-align: center;
    z-index: 2;
}